<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/style.css">
    <!-- <style>
        body {
            background-color: aliceblue;
            padding: 27px;
            font-size: 21px;
            text-align: center;
        }
    </style>
    //WE HAVE ADDED STYLE.CSS AS A SEPARATE FILE IN ASSETS. BUT WE NEED TO LINK THAT IN THIS FILE.
    -->
</head>

<body>
    <h1>This is all about me. </h1>
    <p>This blog is about
        <%=data.who %>
            <!--data.who as name space in form has been named as who.-->
    </p>
    <p>He is a
        <%=data.job %>
    </p>
    <p>Contact
        <%=data.email %>
    </p>
</body>

</html>