<!--Below copied same code as of index.html-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <title>Document</title>
    <!--<style>
        body {
            background-color: aliceblue;
            padding: 27px;
            font-size: 21px;
            text-align: center;
        }
    </style>
    //WE HAVE ADDED STYLE.CSS AS A SEPARATE FILE IN ASSETS. BUT WE NEED TO LINK THAT IN THIS FILE.
-->
</head>

<body>
    <%- include('partial_views/nav.ejs') %>
        <h1>This is index.ejs HTML page.</h1>
</body>

</html>