<!--WE CAN DO WHAT WE EXACTLY DO IN HTML DOCUMENT I.E. WE CAN CONFIGURE IT LIKE AN HTML DOCUMENT. WE CAN EMBED JAVASCRIPT AND DATA IN IT. !-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: aliceblue;
            padding: 27px;
            font-size: 21px;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>This is HTML FOR profile.ejs file.</h1>
</body>

</html>