<!--This will be the partial view of our navigation. -->
<nav>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
    </ul>
</nav>
<!-- WE NEED TO INCLUDE THE PARTIAL VIEW IN OUR PROFILE. USING profile4.ejs -->
